__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

outputs/
runs/
logs/
tb_logs/
checkpoints/
*.pthgit rm -r --cached autodl-fs/busi_ssl_baseline/busi_ssl_baseline/data_meta/merged_masks
*.pt
*.zip

data/raw/
data/processed/

autodl-fs/busi_ssl_baseline/busi_ssl_baseline/data_meta/merged_masks/

**/.ipynb_checkpoints/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pth
*.pt
*.zip
outputs/
runs/
logs/
tb_logs/
checkpoints/